<!-- Load statis so that image files can be resolved -->
{% load static %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var hoverImage = document.querySelector('.hover-image');

    hoverImage.addEventListener('mouseover', function() {
      this.classList.add('enlarged');
    });

    hoverImage.addEventListener('mouseout', function() {
      this.classList.remove('enlarged');
    });
  });
</script>

<h1>Explore the Image gallery!</h1>




<h1><a href="/">Back to the Sky Imager Calendar</a></h1>

{% if movie_filepath %}
<video width="320" height="240" controls>
  <source src="{% static movie %}" type="video/mp4">
  
  Your browser does not support the video tag.
  </video>


{% else %}
<br>
<h3>No Movie Available.</h3>
<br>
<br>
{% endif %}


<!-- Movie: {{movie}} -->



<table>
    <tbody>
      {% for grouped_filepaths in filepaths %}
        <tr>
          {% for filepath in grouped_filepaths %}
          <td>
            <a href="{% static filepath %}" download>
              <img src="{% static filepath %}" class="hover-image" height="150" width="auto">
            </a>
            <br>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}        
    </tbody>
</table>

<!-- {% for filepath in filepaths %}
<p>{{filepath}}</p>
{% endfor %} -->