{% if name %}
<h1>Hello {{name}}</h1>
{% else %}
<h1>Hello Sakshee</h1>
{% endif %}
<form method="post">
  {% csrf_token %}
<label for="Year">Select the year:</label>

<select name="Year" id="Year">
  <!-- Check for year.1 == true, if so, use a tag with the seleced on it, else use the one we're already using -->
  {% for year in Years %}
  <!-- If year.1 equals true then return the html tag with selected -->
  {% if year.1 == True %}
  <option value="{{year.0}}" selected>{{year.0}}</option>
  {% else %}
  <option value="{{year.0}}">{{year.0}}</option>
  {% endif %}
  {% endfor %}

</select>

<label for="Location">Select the location:</label>

<select name="Location" id="Location">
  <!-- Check for year.1 == true, if so, use a tag with the seleced on it, else use the one we're already using -->
  {% for location in Locations %}
  <!-- If year.1 equals true then return the html tag with selected -->
  {% if location.1 == True %}
  <option value="{{location.0}}" selected>{{location.0}}</option>
  {% else %}
  <option value="{{location.0}}">{{location.0}}</option>
  {% endif %}
  {% endfor %}

</select>

<label for="Wavelength">Select the wavelength:</label>

<select name="Wavelength" id="Wavelength">
  <option value=""></option>
</select>

<input type="submit">
</form>
<table class="data" border="1">
  <tbody><tr>
  <td class="sub" width="132"><strong style="color:black">Jan</strong><br>
    {% for janinfo in January_Days %}
      {% if janinfo.1 == True %}
      <a href="https://www.google.com/">{{janinfo.0}}</a>
      {%else%}
        {{janinfo.0}}
      {% endif %}
    {% endfor %}

  </td>
  <td class="sub" width="132"><strong style="color:black">Feb</strong><br>
    {% for febinfo in February_Days %}
      {% if febinfo.1 == True %}
      <a href="https://www.google.com/">{{febinfo.0}}</a>
      {%else%}
        {{febinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Mar</strong><br>
    {% for marinfo in March_Days %}
      {% if marinfo.1 == True %}
      <a href="https://www.google.com/">{{marinfo.0}}</a>
      {%else%}
        {{marinfo.0}}
      {% endif %}
    {% endfor %}
  <td class="sub" width="132"><strong style="color:black">Apr</strong><br>
    {% for aprinfo in April_Days %}
      {% if aprinfo.1 == True %}
      <a href="https://www.google.com/">{{aprinfo.0}}</a>
      {%else%}
        {{aprinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  </tr>
  <tr>
  <td class="sub" width="132"><strong style="color:black">May</strong><br>
    {% for mayinfo in May_Days %}
      {% if mayinfo.1 == True %}
      <a href="https://www.google.com/">{{mayinfo.0}}</a>
      {%else%}
        {{mayinfo.0}}
      {% endif %}
    {% endfor %}
  <td class="sub" width="132"><strong style="color:black">Jun</strong><br>
    {% for juninfo in June_Days %}
      {% if juninfo.1 == True %}
      <a href="https://www.google.com/">{{juninfo.0}}</a>
      {%else%}
        {{juninfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Jul</strong><br>
    {% for julinfo in July_Days %}
      {% if julinfo.1 == True %}
      <a href="https://www.google.com/">{{julinfo.0}}</a>
      {%else%}
        {{julinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Aug</strong><br>
    {% for auginfo in August_Days %}
      {% if auginfo.1 == True %}
      <a href="https://www.google.com/">{{auginfo.0}}</a>
      {%else%}
        {{auginfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  </tr>
  <tr>
  <td class="sub" width="132"><strong style="color:black">Sep</strong><br>
    {% for sepinfo in September_Days %}
      {% if sepinfo.1 == True %}
      <a href="https://www.google.com/">{{sepinfo.0}}</a>
      {%else%}
        {{sepinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Oct</strong><br>
    {% for octinfo in October_Days %}
      {% if octinfo.1 == True %}
      <a href="https://www.google.com/">{{octinfo.0}}</a>
      {%else%}
        {{octinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Nov</strong><br>
    {% for novinfo in November_Days %}
      {% if novinfo.1 == True %}
      <a href="https://www.google.com/">{{novinfo.0}}</a>
      {%else%}
        {{novinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  <td class="sub" width="132"><strong style="color:black">Dec</strong><br>
    {% for decinfo in December_Days %}
      {% if decinfo.1 == True %}
      <a href="https://www.google.com/">{{decinfo.0}}</a>
      {%else%}
        {{decinfo.0}}
      {% endif %}
    {% endfor %}
  </td>
  </tr>
  </tbody></table>