{% if name %}
<h1>Hello {{name}}</h1>
{% else %}
<h1>Hello World</h1>
{% endif %}

<label for="Year">Select the year:</label>

<select name="Year" id="Year">

  {% for year in Years %}
  <option value="{{year}}">{{year}}</option>
  {% endfor %}

</select>
 

<label for="Month">Select the month:</label>

<select name="Month" id="Month">

  {% for month in Months %}
  <option value="{{month}}">{{month}}</option>
  {% endfor %}

</select>

<label for="Day">Select the date:</label>

<select name="Day" id="Day">

  {% for day in Days %}
  <option value="{{day}}">{{day}}</option>
  {% endfor %}

</select>

<label for="Location">Select the Location:</label>

<select name="Location" id="Location">

  {% for location in Locations %}
  <option value="{{location}}">{{location}}</option>
  {% endfor %}

</select>
